import Cjr{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Cjr{{properCase name}}',
  component: Cjr{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Cjr{{properCase name}} },
  template: `
    <div>
      <cjr-{{name}}></cjr-{{name}}>
    </div>
  `
})